@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
  background-image: url("../public/assets/bg-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.refresh-btn{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: none;
}

.refresh-btn:hover{
  height: 75px;
  width: 75px;
}

.refresh-btn:active{
  background-color: rgb(156, 156, 156);
}

.refresh-btn img{
  height: 40px;
  width: 40px;
}

.quotesDashboard{
  font-family: "Satisfy", cursive;
  font-size: 1.5em;
  display: flex;
  margin-top: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.all-btn{
  display: flex;
}

.quotes{
  background-color: rgba(240, 248, 255, 0.57);
  border-radius: 10px;
  padding: 35px;
}


.Navbar{
  font-weight: 500;
  font-size: 3em;
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: space-between;
  padding: 2vh 3vw;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

h2{
  font-family: "Playfair Display", serif;
}

.dialog-box {
  font-family: "Raleway", sans-serif;
  background: white;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}




@media (max-width: 600px) {
  .quotesDashboard {
    font-size: 2em;
  }
}